<div class="container" style="max-width: 500px;">
  <div>
    <mat-card style="align-items: center; margin-top: 80px;height: 200px;">
      <mat-card-content>
        <div class="row" style="align-items: center; margin-top: 60px;">
          <div class="col-sm-12">
            <h6>Please login with your google amount.</h6>
            <button mat-raised-button color="primary" (click)="logIn()">Google login</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
